
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<%= form_with model: @user do |form| %>
  <%= label(:user, :username) %>
  <%= form.text_field(:username) %>

  <%= label(:user, :email) %>
  <%= form.email_field(:email, { placeholder: "hello@example.com" }) %>

  <%= label(:user, :password) %>
  <%= form.password_field(:password, { value: @user.password }) %>

  <%= form.submit %>
<% end %>
