<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_with model: @user do |form| %>
  <%= label(:user, :username) %>
  <%= form.text_field(:username) %>

  <%= label(:user, :email) %>
  <%= form.email_field(:email, { placeholder: "hello@example.com" }) %>

  <%= label(:user, :password) %>
  <%= form.password_field(:password) %>

  <%= form.submit %>
<% end %>
